container_commands:
  pwd1:
    command: cd /var/app && ls -la && cd /var/app/staging && ls -la
  C00_F00_permissions_python_files:
    command: "sudo chmod +rwx /var/app/staging/rsa/*.py"
  C01_F00_permissions_python_files:
    command: "sudo chmod +rwx /var/app/staging/test_output1"
  C02_F00_permissions_python_files:
    command: "sudo chmod +rwx /var/app/staging/test_output1/tickerlist1.txt"