container_commands:
  00_find_dir1_0:
    command: ls -la && pwd
  00_find_dir1_1:
    command: cd ../ && ls -la && pwd
  00_find_dir1_2:
    command: cd /var/app && ls -la && pwd
  00_find_dir1_3:
    command: cd /var/app/current && ls -la && pwd
  00_find_dir1_4:
    command: cd /var/app/staging && ls -la && pwd
  00_find_dir1_5:
    command: cd /var/app/venv && ls -la && pwd
  00_find_dir1_6:
    command: cd /var/app/venv/staging-LQM1lest && ls -la && pwd
  00_find_dir1_7:
    command: cd /var/app/venv/staging-LQM1lest/bin && ls -la && pwd
  01_pwd1:
    command: pwd