commands:
  00_find_dir2_0:
    command: ls -la && pwd
  00_find_dir2_1:
    command: cd /var && ls -la && pwd
  00_find_dir2_2:
    command: cd /var/app && ls -la && pwd
  00_find_dir2_3:
    command: cd /var/app/current && ls -la && pwd


  00_find_dir2_5:
    command: cd /var/app/venv && ls -la && pwd
  00_find_dir2_6:
    command: cd /var/app/venv/staging-LQM1lest && ls -la && pwd
  00_find_dir2_7:
    command: cd /var/app/venv/staging-LQM1lest/bin && ls -la && pwd
  01_pwd2:
    command: pwd