emoji==1.7.0
Flask==2.1.2
flask_cors==3.0.10
flask_sqlalchemy==2.5.1
matplotlib==3.5.1
nltk>=3.6.6
numpy==1.22.3
pandas==1.4.2
praw==7.5.0
prawcore==2.3.0
pymysql==1.0.2
requests==2.27.1
requests_toolbelt==0.9.1
schedule==1.1.0
squarify==0.4.3

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
